.bg-hero {
    background-image: url('../img/bg-hero-sm.jpg');
    min-height: 282px;
}

@media(min-width: 640px) {
    .bg-hero {
        background-image: url('../img/bg-hero-md.jpg');
        min-height: 510px;
    }
}

@media(min-width: 1024px) {
    .bg-hero {
        background-image: url('../img/bg-hero-lg.jpg');
        min-height: 679px;
    }
}