{{ define "main" -}}
<section>
    <div style="background-image: url('/img/hero-bg-xs.jpg');"
        class="flex items-end justify-end h-64 w-full bg-cover bg-no-repeat">
        <span class="mb-6 mr-6"><a href="#"
                class="py-2 px-3 bg-blue-500 font-semibold font-sans rounded-full text-gray-100">Marque
                sua
                consulta</a>
        </span>
    </div>
</section>
<section id="servicos" class="flex flex-col items-center m-4">
    <h1 class="my-2 font-sans text-2xl font-bold text-gray-800">Serviços</h1>
    <div class="flex flex-col items-center my-4 p-4 bg-secondary rounded shadow-lg">
        <h3 class="mb-2 font-sans font-semibold text-xl text-gray-100">Atendimento Clínico</h3>
        <p class="text-base text-gray-100 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
            eum, facere,
            repellat
            officia ut ipsa
            voluptatem doloribus odit magnam minus dolorem nostrum similique exercitationem.</p>
        <div class="ml-auto mr-2 pt-4">
            <a href=" /servicos" class="text-gray-100 uppercase font-semibold">Saiba mais...
            </a>
        </div>
    </div>
    <div class="flex flex-col items-center my-4 p-4 bg-secondary-300 rounded shadow-lg">
        <h3 class="mb-2 font-sans font-semibold text-xl text-gray-100">Exames</h3>
        <p class="text-base text-gray-100 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
            eum, facere,
            repellat
            officia ut ipsa
            voluptatem doloribus odit magnam minus dolorem nostrum similique exercitationem.</p>
        <div class="ml-auto mr-2 pt-4">
            <a href=" /servicos" class="text-gray-100 uppercase font-semibold">Saiba mais...
            </a>
        </div>
    </div>
    <div class="flex flex-col items-center my-4 p-4 bg-secondary-500 rounded shadow-lg">
        <h3 class="mb-2 font-sans font-semibold text-xl text-gray-100">Cirurgias</h3>
        <p class="text-base text-gray-100 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
            eum, facere,
            repellat
            officia ut ipsa
            voluptatem doloribus odit magnam minus dolorem nostrum similique exercitationem.</p>
        <div class="ml-auto mr-2 pt-4">
            <a href=" /servicos" class="text-gray-100 uppercase font-semibold">Saiba mais...
            </a>
        </div>
    </div>
</section>
<section id="sobre-nos" class="flex flex-col items-center m-4">
    <h1 class="my-2 font-sans text-2xl font-bold text-gray-800">Sobre Nós</h1>
    <div class="flex flex-col rounded shadow-lg">
        <img class="w-full" src="/img/sobre-nos.jpg" alt="Mariana e Mayara">
        <div class="p-4">
            <p class="text-base text-gray-800 text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Eligendi
                quaerat a, sit reprehenderit iste
                autem
                neque. Numquam est, temporibus quae voluptas, qui et officia ipsam, nisi id optio nobis adipisci?</p>
        </div>
        <div class="ml-auto mr-4 py-4 px-2">
            <a href=" /sobrenos" class="text-gray-800 uppercase font-semibold">Saiba mais...
            </a>
        </div>
    </div>
</section>
<section id="posts" class="flex flex-col items-center m-4">
    <h1 class="my-2 font-sans text-2xl font-bold text-gray-800">Útimas publicações</h1>
</section>
{{- end }}