{{ define "main" -}}
<main>
    <div style="background-image: url('/img/hero-bg-xs.jpg');"
        class="flex items-end justify-end h-64 w-full bg-cover bg-no-repeat">
        <span class="mb-6 mr-6"><a href="#"
                class="p-2 bg-blue-600 hover:bg-blue-700 font-semibold rounded-full text-gray-100">Marque sua
                consulta</a>
        </span>
    </div>
</main>
<section #servicos class="flex flex-col items-center">
    <h1 class="font-sans">Serviços</h1>
    <div class="w-full m-4">
        <h4>Atendimento Clínico</h4>
        <a href=" /servicos" class="py-2 px4 rounded border border-blue-500">Saiba mais...
        </a>
    </div>
</section>
{{- end }}