<div class="flex justify-between items-center py-2 bg-primary">
    <a href="/" class="ml-4">
        <img class="h-12" src="/img/logo-mono.svg" alt="Marca Universo Otorrino" />
    </a>
    <div class="flex items-center space-x-6">
        <div class="flex space-x-4">
            <a href="https://instagram.com/universootorrino" target="_blank" rel="noopener">
                <img height="28" width="28" src="/img/instagram.svg" alt="Marca do instagram">
            </a>
            <a href="https://facebook.com/universootorrino" target="_blank" rel="noopener">
                <img height="28" width="28" src="/img/facebook.svg" alt="Marca do instagram">
            </a>

        </div>
        <div class="flex items-center">
            <button class="mr-4">
                <svg width="28" height="24" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="28" height="3" rx="1.5" fill="white" />
                    <rect y="8.85715" width="28" height="3" rx="1.5" fill="white" />
                    <rect y="17.7143" width="28" height="3" rx="1.5" fill="white" />
                </svg>
            </button>
        </div>

    </div>
</div>
</header>